@charset "utf-8";

.combox {
    display: inline-block;
    float: left;
    margin: 0px 10px 0 0;
}
.combox { 
    border: 1px solid #d9d9d9;
    height: 27px;
    position: relative;
    width: 100px;
    z-index: 100;
}
.combox .combox-text {
    background: #F0F3F8 none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 27px;
    line-height: 27px;
    padding: 0 10px 0 6px;
    position: relative;
    z-index: 101;
    margin: 0;
}
.combox .combox-text {
    cursor: pointer;
    line-height: 27px;
    text-align: center;
}
.combox .combox-text i {
    background: rgba(0, 0, 0, 0) url("../bg/base-sprites.png") no-repeat scroll 0px 0px;
    height: 5px;
    position: absolute;
    right: 6px;
    top: 11px;  
    width: 7px;
}
.combox .combox-items {
    background: #F0F3F8 none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    display: none;
    left: -1px;
    padding-bottom: 10px;
    position: absolute;
    top: 27px;
    width: 100px;
    max-height:162px;
    z-index: 102;
    overflow: auto;
    1overflow-x: hidden;
}
.combox .combox-items {
    padding-bottom: 0;
}
.combox .combox-items a, .combox .combox-items span {
    cursor: pointer;
    display: block;
    line-height: 27px;
    margin: 0;
    padding: 5px 0px;
    white-space: nowrap;
}
.combox .combox-items a {
    margin: 0;
    text-align: center;
    width: 100%;
}

.combox .combox-items a:HOVER{
	background-color: #eee;
	color: red;
}
 .combox .combox-items .cur{  
 	color: red !important;
 	background-color: #eee !important; 
 }
.options a{
    color: #333;
    display: inline-block; 
    margin: 0 10px 0 0;
}
.options a.cur, .options a:hover{
    background-color: #fff;
    color: red;
}
.options .combox a {
    display: block;
}






/*-----------*/
.combox_link {
    display: inline-block;
    float: left;
    margin: 0px 10px 0 0;
}
.combox_link { 
    border: 1px solid #d9d9d9;
    height: 27px;
    position: relative;
    width: 100px;
    z-index: 100;
}
.combox_link .combox_link-text {
    background: #F0F3F8 none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 27px;
    line-height: 27px;
    padding: 0 10px 0 6px;
    position: relative;
    z-index: 101;
    margin: 0;
}
.combox_link .combox_link-text {
    cursor: pointer;
    line-height: 27px;
    text-align: center;
}
.combox_link .combox_link-text i {
    background: rgba(0, 0, 0, 0) url("../bg/base-sprites.png") no-repeat scroll 0px 0px;
    height: 5px;
    position: absolute;
    right: 6px;
    top: 11px;  
    width: 7px;
}
.combox_link .combox_link-items {
    background: #F0F3F8 none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    display: none;
    left: -1px;
    padding-bottom: 10px;
    position: absolute;
    top: 27px;
    width: 100px;
    max-height:162px;
    z-index: 102;
    overflow: auto;
    1overflow-x: hidden;
}
.combox_link .combox_link-items {
    padding-bottom: 0;
}
.combox_link .combox_link-items a, .combox_link .combox_link-items span {
    cursor: pointer;
    display: block;
    line-height: 27px;
    margin: 0;
    padding: 5px 0px;
    white-space: nowrap;
}
.combox_link .combox_link-items a {
    margin: 0;
    text-align: center;
    width: 100%;
}

.combox_link .combox_link-items a:HOVER{
	background-color: #eee;
	color: red;
}
 .combox_link .combox_link-items .cur{  
 	color: red !important;
 	background-color: #eee !important; 
 }
.options a{
    color: #333;
    display: inline-block; 
    margin: 0 10px 0 0;
}
.options a.cur, .options a:hover{
    background-color: #fff;
    color: red;
}
.options .combox_link a {
    display: block;
}
/*--------*/

.combox_single {
    display: inline-block;
    float: left;
    margin: 0px 10px 0 0;
}
.combox_single { 
    border: 1px solid #d9d9d9;
    height: 27px;
    position: relative;
    width: 100px;
    z-index: 100;
}
.combox_single .combox_single-text {
    background: #F0F3F8 none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 27px;
    line-height: 27px;
    padding: 0 10px 0 6px;
    position: relative;
    z-index: 101;
    margin: 0;
}
.combox_single .combox_single-text {
    cursor: pointer;
    line-height: 27px;
    text-align: center;
}
.combox_single .combox_single-text i {
    background: rgba(0, 0, 0, 0) url("../bg/base-sprites.png") no-repeat scroll 0px 0px;
    height: 5px;
    position: absolute;
    right: 6px;
    top: 11px;  
    width: 7px;
}
.combox_single .combox_single-items {
    background: #F0F3F8 none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    display: none;
    left: -1px;
    padding-bottom: 10px;
    position: absolute;
    top: 27px;
    width: 100px;
    max-height:162px;
    z-index: 102;
    overflow: auto;
    1overflow-x: hidden;
}
.combox_single .combox_single-items {
    padding-bottom: 0;
}
.combox_single .combox_single-items a, .combox_single .combox_single-items span {
    cursor: pointer;
    display: block;
    line-height: 27px;
    margin: 0;
    padding: 5px 0px;
    white-space: nowrap;
}
.combox_single .combox_single-items a {
    margin: 0;
    text-align: center;
    width: 100%;
}

.combox_single .combox_single-items a:HOVER{
	background-color: #eee;
	color: red;
}
 .combox_single .combox_single-items .cur{  
 	color: red !important;
 	background-color: #eee !important; 
 }
.options a{
    color: #333;
    display: inline-block; 
    margin: 0 10px 0 0;
}
.options a.cur, .options a:hover{
    background-color: #fff;
    color: red;
}
.options .combox_single a {
    display: block;
}

/*--------------------*/

.combox_compilecon {
    display: inline-block;
    float: left;
    margin: 0px 10px 0 0;
}
.combox_compilecon { 
    border: 1px solid #d9d9d9;
    height: 27px;
    position: relative;
    width: 100px;
    z-index: 100;
}
.combox_compilecon .combox_compilecon-text {
    background: #F0F3F8 none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 27px;
    line-height: 27px;
    padding: 0 10px 0 6px;
    position: relative;
    z-index: 101;
    margin: 0;
}
.combox_compilecon .combox_compilecon-text {
    cursor: pointer;
    line-height: 27px;
    text-align: center;
}
.combox_compilecon .combox_compilecon-text i {
    background: rgba(0, 0, 0, 0) url("../bg/base-sprites.png") no-repeat scroll 0px 0px;
    height: 5px;
    position: absolute;
    right: 6px;
    top: 11px;  
    width: 7px;
}
.combox_compilecon .combox_compilecon-items {
    background: #F0F3F8 none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    display: none;
    left: -1px;
    padding-bottom: 10px;
    position: absolute;
    top: 27px;
    width: 100px;
    max-height:162px;
    z-index: 102;
    overflow: auto;
    1overflow-x: hidden;
}
.combox_compilecon .combox_compilecon-items {
    padding-bottom: 0;
}
.combox_compilecon .combox_compilecon-items a, .combox_compilecon .combox_compilecon-items span {
    cursor: pointer;
    display: block;
    line-height: 27px;
    margin: 0;
    padding: 5px 0px;
    white-space: nowrap;
}
.combox_compilecon .combox_compilecon-items a {
    margin: 0;
    text-align: center;
    width: 100%;
}

.combox_compilecon .combox_compilecon-items a:HOVER{
	background-color: #eee;
	color: red;
}
 .combox_compilecon .combox_compilecon-items .cur{  
 	color: red !important;
 	background-color: #eee !important; 
 }
.options a{
    color: #333;
    display: inline-block;  
    margin: 0 10px 0 0;
}
.options a.cur, .options a:hover{
    background-color: #fff;
    color: red;
}
.options .combox_compilecon a {
    display: block;
}
/**+++++++++++++++++++**/
.combox_pay {
    display: inline-block;
    float: left;
    margin: 0px 10px 0 0;
}
.combox_pay { 
    border: 1px solid #d9d9d9;
    height: 27px;
    position: relative;
    width: 100px;
    z-index: 100;
}
.combox_pay .combox_pay-text {
    background: #F0F3F8 none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 27px;
    line-height: 27px;
    padding: 0 10px 0 6px;
    position: relative;
    z-index: 101;
    margin: 0;
}
.combox_pay .combox_pay-text {
    cursor: pointer;
    line-height: 27px;
    text-align: center;
}
.combox_pay .combox_pay-text i {
    background: rgba(0, 0, 0, 0) url("../bg/base-sprites.png") no-repeat scroll 0px 0px;
    height: 5px;
    position: absolute;
    right: 6px;
    top: 11px;  
    width: 7px;
}
.combox_pay .combox_pay-items {
    background: #F0F3F8 none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    display: none;
    left: -1px;
    padding-bottom: 10px;
    position: absolute;
    top: 27px;
    width: 100px;
    max-height:162px;
    z-index: 102;
    overflow: auto;
    1overflow-x: hidden;
}
.combox_pay .combox_pay-items {
    padding-bottom: 0;
}
.combox_pay .combox_pay-items a, .combox_pay .combox_pay-items span {
    cursor: pointer;
    display: block;
    line-height: 27px;
    margin: 0;
    padding: 5px 0px;
    white-space: nowrap;
}
.combox_pay .combox_pay-items a {
    margin: 0;
    text-align: center;
    width: 100%;
}

.combox_pay .combox_pay-items a:HOVER{
	background-color: #eee;
	color: red;
}
 .combox_pay .combox_pay-items .cur{  
 	color: red !important;
 	background-color: #eee !important; 
 }
.options a{
    color: #333;
    display: inline-block; 
    margin: 0 10px 0 0;
}
.options a.cur, .options a:hover{
    background-color: #fff;
    color: red;
}
.options .combox_pay a {
    display: block;
}
/**++++++++++++++++**/
.combox_Type {
    display: inline-block;
    float: left;
    margin: 0px 10px 0 0;
}
.combox_Type { 
    border: 1px solid #d9d9d9;
    height: 27px;
    position: relative;
    width: 100px;
    z-index: 100;
}
.combox_Type .combox_Type-text {
    background: #F0F3F8 none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 27px;
    line-height: 27px;
    padding: 0 10px 0 6px;
    position: relative;
    z-index: 101;
    margin: 0;
}
.combox_Type .combox_Type-text {
    cursor: pointer;
    line-height: 27px;
    text-align: center;
}
.combox_Type .combox_Type-text i {
    background: rgba(0, 0, 0, 0) url("../bg/base-sprites.png") no-repeat scroll 0px 0px;
    height: 5px;
    position: absolute;
    right: 6px;
    top: 11px;  
    width: 7px;
}
.combox_Type .combox_Type-items {
    background: #F0F3F8 none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    display: none;
    left: -1px;
    padding-bottom: 10px;
    position: absolute;
    top: 27px;
    width: 100px;
    max-height:162px;
    z-index: 102;
    overflow: auto;
    1overflow-x: hidden;
}
.combox_Type .combox_Type-items {
    padding-bottom: 0;
}
.combox_Type .combox_Type-items a, .combox_Type .combox_Type-items span {
    cursor: pointer;
    display: block;
    line-height: 27px;  
    margin: 0;
    padding: 5px 0px;
    white-space: nowrap;
}
.combox_Type .combox_Type-items a {
    margin: 0;
    text-align: center;
    width: 100%;
}

.combox_Type .combox_Type-items a:HOVER{
	background-color: #eee;
	color: red;
}
 .combox_Type .combox_Type-items .cur{  
 	color: red !important;
 	background-color: #eee !important; 
 }
.options a{
    color: #333;
    display: inline-block; 
    margin: 0 10px 0 0;
}
.options a.cur, .options a:hover{
    background-color: #fff;
    color: red;
}
.options .combox_Type a {
    display: block;
}
/**++++++++++++++++++++++++**/
.combox_signatureType {
    display: inline-block;
    float: left;
    margin: 0px 10px 0 0;
}
.combox_signatureType { 
    border: 1px solid #d9d9d9;
    height: 27px;
    position: relative;
    width: 100px;
    z-index: 100;
}
.combox_signatureType .combox_signatureType-text {
    background: #F0F3F8 none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 27px;
    line-height: 27px;
    padding: 0 10px 0 6px;
    position: relative;
    z-index: 101;
    margin: 0;
}
.combox_signatureType .combox_signatureType-text {
    cursor: pointer;
    line-height: 27px;
    text-align: center;
}
.combox_signatureType .combox_signatureType-text i {
    background: rgba(0, 0, 0, 0) url("../bg/base-sprites.png") no-repeat scroll 0px 0px;
    height: 5px;
    position: absolute;
    right: 6px;
    top: 11px;  
    width: 7px;
}
.combox_signatureType .combox_signatureType-items {
    background: #F0F3F8 none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    display: none;
    left: -1px;
    padding-bottom: 10px;
    position: absolute;
    top: 27px;
    width: 100px;
    max-height:162px;
    z-index: 102;
    overflow: auto;
    1overflow-x: hidden;
}
.combox_signatureType .combox_signatureType-items {
    padding-bottom: 0;
}
.combox_signatureType .combox_signatureType-items a, .combox_signatureType .combox_signatureType-items span {
    cursor: pointer;
    display: block;
    line-height: 27px;  
    margin: 0;
    padding: 5px 0px;
    white-space: nowrap;
}
.combox_signatureType .combox_signatureType-items a {
    margin: 0;
    text-align: center;
    width: 100%;
}

.combox_signatureType .combox_signatureType-items a:HOVER{
	background-color: #eee;  
	color: red;
}
 .combox_signatureType .combox_signatureType-items .cur{  
 	color: red !important;
 	background-color: #eee !important; 
 }
.options a{
    color: #333;
    display: inline-block; 
    margin: 0 10px 0 0;
}
.options a.cur, .options a:hover{
    background-color: #fff;
    color: red;
}
.options .combox_signatureType a {
    display: block;
}
/**++++++++++++++++**/
.combox_Type_query {
    display: inline-block;
    float: left;
    margin: 0px 10px 0 0;
}
.combox_Type_query { 
    border: 1px solid #d9d9d9;
    height: 27px;
    position: relative; 
    width: 100px;
    z-index: 100;
}
.combox_Type_query .combox_Type-text_query {
    background: #F0F3F8 none repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 27px;
    line-height: 27px;
    padding: 0 10px 0 6px;
    position: relative;
    z-index: 101;
    margin: 0;
}
.combox_Type_query .combox_Type-text_query {
    cursor: pointer;
    line-height: 27px;
    text-align: center;
}
.combox_Type_query .combox_Type-text_query i {
    background: rgba(0, 0, 0, 0) url("../bg/base-sprites.png") no-repeat scroll 0px 0px;
    height: 5px;
    position: absolute;
    right: 6px;
    top: 11px;  
    width: 7px;
}
.combox_Type_query .combox_Type-items_query {
    background: #F0F3F8 none repeat scroll 0 0;
    border: 1px solid #d9d9d9;
    display: none;
    left: -1px;
    padding-bottom: 10px;
    position: absolute;
    top: 27px;
    width: 100px;
    max-height:162px;
    z-index: 102;
    overflow: auto;
    1overflow-x: hidden;
}
.combox_Type_query .combox_Type-items_query {
    padding-bottom: 0;
}
.combox_Type_query .combox_Type-items_query a, .combox_Type_query .combox_Type-items_query span {
    cursor: pointer;
    display: block;
    line-height: 27px;  
    margin: 0;
    padding: 5px 0px;
    white-space: nowrap;
}
.combox_Type_query .combox_Type-items_query a {
    margin: 0;
    text-align: center;
    width: 100%;
}

.combox_Type_query .combox_Type-items_query a:HOVER{
	background-color: #eee;
	color: red;
}
 .combox_Type_query .combox_Type-items_query .cur{  
 	color: red !important;
 	background-color: #eee !important; 
 }
.options a{
    color: #333;
    display: inline-block; 
    margin: 0 10px 0 0;
}
.options a.cur, .options a:hover{
    background-color: #fff;
    color: red;
}
.options .combox_Type a {
    display: block;
}
