/* 
* @Author: Marte
* @Date:   2018-04-17 17:45:33
* @Last Modified by:   Marte
* @Last Modified time: 2018-04-17 18:01:38
*/
 @charset "utf-8";


             body{margin-top: 43px;}
            .hearder {background-color: #2e2e2e;background-image: -webkit-linear-gradient(top, #2e2e2e,#1b1b1b);background-image: linear-gradient(to bottom,#2e2e2e,#1b1b1b);
                height: 43px;position: fixed;z-index: 1000;left: 0;right: 0;top: 0;padding-left: 43px;border-bottom: 1px solid #000;text-align: center;}
            .hearder .headimg{width:80px;float: right;height:30px;padding: 7px 0 0 100px;padding-right: 160px;}
            .hearder .tel{position: absolute;top:5px;right:10px;width:28px;height: 24px;}
            .hearder .tel img{width: 100%;}
            .hearder .to_english_ybren{width:45px;height:18px;position: absolute;top: 13px;right:90px}
            .hearder .to_english_ybren img{width: 100%;}

            .navigation {position: fixed;top: 0;z-index:1003;width: 43px;}
            .navigation .home{width:43px;height: 42px;display: block;overflow: hidden;}
            .navigation .home img{width: 80%;float: left;padding: 6px 0 0 10px;}
            
            .navigation.-closed .nav {left: -270px;}
            .nav{ -webkit-transition: left 0.5s;-moz-transition: left 0.5s;transition: left 0.5s;background: none;color: #e9e9e9;position: absolute;font-size: 13px;top: 43px;
                    padding-bottom: 43px;bottom: 0;left: 0;overflow-y: scroll;width: 250px;height: 100vh;z-index: 4;transform: translateX(0);}
            
            
            
            .navigation.-closed .underlay {
                -webkit-transition: opacity 0.5s linear,visibility 0s linear 0.5s;
                -moz-transition: opacity 0.5s linear,visibility 0s linear 0.5s;
                transition: opacity 0.5s linear,visibility 0s linear 0.5s;
                opacity: 0;
                visibility: hidden;
            }
            .navigation .underlay {
                -webkit-transition: opacity 0.5s linear;
                -moz-transition: opacity 0.5s linear;
                transition: opacity 0.5s linear;
                background: #000;
                opacity: .5;
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                top: 43px;
                visibility: visible;
                z-index: 1;
            }
            
            .nav .first{height: 100vh;width: 150px;background: #1D1F1F;}        
            .nav .li-title{padding: 5px 12px;background: #282828;font-size: 11px;width: 126px;}
            .nav .second li:last-child{border-bottom:none;}
            .nav .li-nav{background:none;font-size: 13px;font-weight: 400;position: relative;width: 150px;}
            .nav li a{display:block;color: #CDCDCD;background: url(bg/right.png) no-repeat 132px 9px;background-size: 10px 23px;padding: 15px 12px;}            
            .nav .second{position: absolute;top:0;left:150px;width:100px;z-index: 200;display: none;background: #171917;} 
            .nav .second a{background: none;text-align: center;border-bottom: 1px solid #262626;}

            @media (max-width:330px){
                .hearder .to_english_ybren{right:70px}
                .type .type_list{padding: 6px 0;}
                .nav li a{padding:8px 6px;background: url(bg/right.png) no-repeat 132px 3px;background-size: 10px 23px;}
            }
            @media (min-width:410px){
                .hearder .to_english_ybren{right:105px}
                .type .type_list{padding: 15px 0;}
            }   


.advertising{position: fixed;top:42px;left: 0;width: 100%;overflow: hidden;z-index: 1000;} .advertising img{float: left;width: 100%;}

.lists{overflow: hidden;background: #f5f6f7;} .lists .tlist{float: left;width:49%;overflow: hidden;padding-bottom:2%;} .lists .tlist:nth-child(odd){margin-right: 2%;} .lists .tlist img{float: left;width: 100%;} .lists .tlist .cur{display: block;} .lists .tlist p {text-align: justify;line-height: 1.6em;padding: 10px 5px;} .lists .tlist li .desc {float: left;width: 100%;background: #ffffff;padding: 0px 10px;box-sizing: border-box;} .lists .tlist .desc .p_title {color: #222222;margin-bottom: 0px;} .lists .tlist .desc p {overflow: hidden;padding: 0;} .lists .tlist .desc .p_title span {font-size: 10px;height: 18px;line-height: 18px;box-sizing: border-box;float: left; overflow: hidden;text-overflow: ellipsis;white-space: nowrap; } .lists .tlist .desc .p_title .name {width: 80%;} .lists .tlist .desc .p_title .coup {font-size: 8px;border: 1px solid #e60039;border-radius: 2px;color: #e60039;padding: 0px 4px;height: 16px;line-height: 14px;text-align: center;float: right; } .lists .tlist .desc .p_desc {color: #005bac;font-size: 10px;margin-bottom: 9px;text-align: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;} .lists .tlist .desc font {font-weight: bold;font-size: 14px;color: #262626;float: left;margin-right: 5px;}


.bottom { background: #FFFFFF; width: 92%; padding: 2% 4%; position: fixed; bottom: 0; left: 0; z-index: 100; /*border-top: 0.5px solid #CCCCCC;*/ } .bottom a { display: block; width: 100%; background: #E2AD13; color: #FFFFFF; font-size: 1em; text-align: center; padding: 3% 0; border-radius: 5px; }